backend/secfit/.vscode/
backend/secfit/*/migrations/__pycache__/
backend/secfit/*/__pycache__/
backend/secfit/db.sqlite3
.idea
envs/*
backend/secfit/htmlcov/
backend/secfit*/.coverage
backend/secfit/*/.coverage
backend/secfit/coverage.xml
backend/secfit/reports/